@font-face {
    font-family: 'Font1';
    src: url(../assets/fonts/discord01.woff2);
}

@font-face {
    font-family: 'Font2';
    src: url(../assets/fonts/discord02.woff2);
}

@font-face {
    font-family: 'Font3';
    src: url(../assets/fonts/discord03.woff2);
}

@font-face {
    font-family: 'Font4';
    src: url(../assets/fonts/discord04.woff2);
}

@font-face {
    font-family: 'Font5';
    src: url(../assets/fonts/discord05.woff2);
}

@font-face {
    font-family: 'Font6';
    src: url(../assets/fonts/discord06.woff2);
}